body {
  text-align: center;
  background-color: rgba(197, 194, 194, 0.465);
}
li {
  font-size: 40px;
}

p {
  color: blue;
  font-size: 70px;
}
img {
  height: 100px;
  width: 100px;
  object-fit: contain;
  transition: 900ms;
  margin: 50px;
  border-radius: 60px;
}
img:hover {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
button {
  width: 150px;
  height: 50px;
  animation-name: color;
  /* transition: .8s; */
  animation-duration: 9s;
  background-color: gray;
  color: #fff;
  font-size: 20px;
}
/* button:hover {
  width: 200px;
} */
@keyframes color {
  0% {
    background-color: rgb(230, 230, 41);
  }
  25% {
    background-color: rgb(192, 192, 149);
  }
  50% {
    background-color: rgb(31, 31, 5);
  }
  75% {
    background-color: rgb(34, 34, 27);
  }
  100% {
    background-color: rgb(216, 216, 216);
  }
}
